<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/library2.jpg" alt="ArtGalleryLogo">
        
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">WEL-COME</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <button mat-icon-button style="color: white;" >
        <mat-icon >home</mat-icon>Home
        </button>
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <button mat-icon-button style="color: white;" >
            <mat-icon>info_outline</mat-icon>About Us
        </button>
        
    </a>
    <a mat-list-item routerLink="/contactUs" routerLinkActive="list-item-active">
        <button mat-icon-button style="color: white;" >
        <mat-icon>mail_outline</mat-icon>Contact Us
    </button>
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active" >
        <button mat-icon-button style="color: white;" >
        <mat-icon>account_circle</mat-icon>User
    </button>
    </a>
    <a mat-list-item routerLink="/admin" routerLinkActive="list-item-active" >
        <button mat-icon-button style="color: white;" >
        <mat-icon>admin_panel_settings</mat-icon>Admin
    </button>
    </a>
</mat-nav-list>




